*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}
.contact
{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
    background: url(./image/test13.jpg);
    background-size: cover;
}
.contact .content 
{
	max-width: 1500px;
	text-align: center;
}
.contact .content h2{
    font-size: 50px;
	font-weight: 500;
	color: #fff;
}
.contact .content p{
    
	font-weight: 300;
	color: #fff;
}

.home-btn {
	border: 0px;
    background-color: #012e64;
    padding: 10px;
	border-radius: 10px;
}

.home-btn:hover {
    background-color: transparent;
	color: white;
	text-decoration: none;
    border:2px solid #012e64;
	border-radius: 10px;
}
.homebtn {
	border: 0px;
	outline: none;
    width: 60px;
	border: none;
	font-size: 16px;
	margin: 0px 90%;
	color: rgb(4, 8, 75);
	padding: 2px 2px;
	cursor: pointer;
}
.homebtn a{
    text-decoration: none;
    color: #fff;
    
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

}
.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contactInfo .box{
	position: relative;
	padding: 20PX 0;
	display: flex;
}
.container .contactInfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	flex-direction: column;
	font-weight: 300;
}
.container .contactInfo .box .text h3{
	font-weight: 500;
	color:#012e64;
}
.contactForm{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.contactForm h2{
	font-size: 30px;
	color: #012e64;
	font-weight: 500;
}
.contactForm .inputbox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea
{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid rgb(11, 135, 197);
	outline: none;
}

.footer
{
	padding: 0px 60px;
    margin-top: 0rem;
	border-top:.2px solid rgb(11, 135, 197);
    background: #333;

}

.footer .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box
{
	width: 100%;
    padding: 1rem 0;
    flex: 1 1 25rem;

}
  
.footer .box-container .box h3
{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p
{
    /* font-size: 1.5rem; */
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container .box a
{
    display: block;
    /* font-size: 1.5rem; */
    padding:.7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover
{
    color: rgb(11, 135, 197)    ;
    text-decoration: underline;
}

.footer .box-container .box i
{
    display: block;
    /* font-size: 3rem; */
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container #icons
{
    
    font-size: 3rem;
    padding:.7rem 0;
    

}

.footer .box-container .box i:hover
{
    color: rgb(11, 135, 197);

}

.footer .credit
{
    border-top: .1rem solid rgb(11, 135, 197);;
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
     font-size: 1rem; 
    font-weight: normal;
    color: #fff;

}
.footer .box-container .box i
{
    display: block;
    font-size: 3rem;
    padding:.7rem 0;
    
}
.footer .credit span
{
    color:rgb(11, 135, 197);
}








