body {
    background-image: url('./image/tesst_img.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* height: 1.5vh; */
}


.subs
{
	padding: 50px 0;
}
.heading-title
{
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin-bottom: 50px;
}

.pricingTable{
    background-color: rgba(0, 0, 0, 0.37);
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    transform: translateZ(0px);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid rgb(11, 135, 197);
    border-left: 2px solid rgb(11, 135, 197);

}

.pricingTable:after{
    border-bottom: 2px solid rgb(11, 135, 197);
    border-top: 2px solid rgb(11, 135, 197);

}


.home-btn {
	border: 0px;
    background-color: rgb(11, 135, 197);
    padding: 10px;
	border-radius: 10px;
}

.home-btn:hover {
    background-color: transparent;
	color: black;
	text-decoration: none;
    border:2px solid rgb(11, 135, 197);
	border-radius: 10px;
}
.homebtn {
	border: 0px;
	outline: none;
    width: 60px;
	border: none;
	font-size: 16px;
	margin: 0px 90%;
	color: rgb(4, 8, 75);
	padding: 2px 2px;
	cursor: pointer;
}
.homebtn a{
    text-decoration: none;
    color: black;
    
}


.pricingTable .pricingTable-header{
    background: rgb(11, 135, 197);
    color: #fff;
    margin: -2px -2px 35px;
    padding: 40px 0;
}

.pricingTable .heading{
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}

.pricingTable .currency{
    font-size: 45px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -30px;
}

.pricingTable .month{
    font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: 16px;
    color: white;
    line-height: 40px;
}

.pricingTable .read{
    display: inline-block;
    border: 2px solid #7a7e82;
    border-right: none;
    font-size: 14px;
    font-weight: 700;
    color: white;
    padding: 9px 30px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover{
    border-color: rgb(11, 135, 197);
    color: rgb(11, 135, 197);
}

.pricingTable .read i{
    font-size: 19px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    right: 15px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:hover i{
    right: 5px;
}

.pricingTable .read:before,
.pricingTable .read:after{
    content: "";
    display: block;
    height: 30px;
    border-left: 2px solid #7a7e82;
    position: absolute;
    right: -11px;
    transition: all 0.3s ease 0s;
}

.pricingTable .read:before{
    bottom: -6px;
    transform: rotate(45deg);
}

.pricingTable .read:after{
    top: -6px;
    transform: rotate(-45deg);
}

.pricingTable .read:hover:before,
.pricingTable .read:hover:after{
    border-left-color: rgb(11, 135, 197);
}


.footer
{
	padding: 0px 60px;
    margin-top: 0rem;
	border-top:1px solid rgb(11, 135, 197);
    background: #333;

}

.footer .box-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box
{
	width: 100%;
    padding: 1rem 0;
    flex: 1 1 25rem;

}
  
.footer .box-container .box h3
{
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #fff;
}

.footer .box-container .box p
{
    /* font-size: 1.5rem; */
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container .box a
{
    display: block;
    /* font-size: 1.5rem; */
    padding:.7rem 0;
    color: #eee;
}

.footer .box-container .box a:hover
{
    color: rgb(11, 135, 197)    ;
    text-decoration: underline;
}

.footer .box-container .box i
{
    display: block;
    /* font-size: 3rem; */
    padding:.7rem 0;
    color: #eee;

}

.footer .box-container #icons
{
    
    font-size: 3rem;
    padding:.7rem 0;
    

}

.footer .box-container .box i:hover
{
    color: rgb(11, 135, 197);

}

.footer .credit
{
    border-top: .1rem solid rgb(11, 135, 197);
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
     font-size: 1rem; 
    font-weight: normal;
    color: #fff;

}
.footer .box-container .box i
{
    display: block;
    font-size: 3rem;
    padding:.7rem 0;
    
}
.footer .credit span
{
    color:rgb(11, 135, 197);
}
